.transform_css{
    height: 200px;
    width: 300px;
    background-color: pink;
    margin:30px;
    /* transform:translate(200px,500px) */
    /* only x axis */
    /* transform: translatex(124px); */
    /* only y axis */
    /* transform: translateY(124px); */
    /* transition:transform 4s; */
    /* transform:width 3s,height 3s;
    transform:font-size 4s; */
    transform: all 5s;
}
.transform_css:hover{
    /* trqanslate on hover */
    /* transform:translate(200px,500px); */
    /* transform:scale(0.5); */
    /* transform:scaleX(0.2); */
    /* transform:scaleY(0.1); */
    width:600px;
    font-size: 50px;
    height:600px;
    /* transform: rotateX(180deg); */
       /* transform: rotateY(180deg); */
       /* z or only rotate both are same */
       transform:rotateZ(360deg);


}

.div1{
    height:400px;
    width:500px;
    padding:20px;
    margin:10px;
    border:2px solid red;
     overflow: hidden;
}
.div1 img{
    height:400px;
    width:500px;
    transition: 3s;
   
}
.div1:hover img{
transform: scale(2);
}

.animation_css{
    border:3p solid navy;
    height: 300px;
    width:400px;
    background-color: lightblue;
    animation-name:example;
    animation-duration: 3s;
    /* this decide how many time you want animation */
    animation-iteration-count: 3;
}
@keyframes example{
    /* from{
        background-color:red;
    }
    to{
        background-color: green;
    } */

/*when timne passes you will see different type of properties*/

0%{
    background-color: red;
    border:5x dotted navy;
    border-radius: 50%;
    transform:rotate(0deg)
}

25%{
    background-color:lightgreen;
    border:5px double darkred;
    transform: rotate(30deg);
}
50%{
    background-color:pink;
    border:3px dotted black;
    transform: rotate(100deg);
}
75%{
    background-color: pink;
    border:5px groove hotpink;
      border-radius: 50%;
      transform: rotate(120deg);
}
100%{
    background-color: yellowgreen;
    border:3px solid salmon;
    transform:rotate(360deg);
}

}
.img_css{
    height: 300px;
    width: 400px;
    animation-name:example2;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes example2{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(2);
    }
    100%{
       transform: scale(0.6);
    }
}

.animation_css3{
    
    border:3px solid navy;
    height: 300px;
    width: 400px;
    position:relative;
    background-color: salmon;
    margin:100px;
    animation-name: examples3;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}
@keyframes examples3{
0%{
left:0px; top:0px;
}
25%{
    left:200px; top:0px;
}
50%{
    left:200px; top:200px;
}
75%{
    left:0px; top:200px;
}
100%{
    left:0px; top:0px;
}

}
