 /* .gradient{
    font-size: 30px;
    background-image:linear-gradient(pink,green);

} */
/* .div1{
    background-color: yellowgreen;
    padding:20px;
    border:5px dotted black;
    background-clip: content-box;
    background-clip: padding-box;
    background-clip: border-box;

} */

.text1{
    background-image: linear-gradient(pink,blue);
    /* means this background are applied to the text */
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -ms-background-clip: text;
    -ms-text-fill-color: transparent;
    -moz-background-clip: text;
} 

.text2{
    text-transform: uppercase;
}
.text3{
    text-transform: lowercase;
}
.text4{
    text-transform: capitalize;
    /* text-align: center; */
    /* text-align: right; */
    /* text-align: left;*/
    /* from righ and left both side you will get proper manner  by using justify*/
    text-align: justify;
    letter-spacing: 2px;
   /* word-spacing: 3px; */
    /* do not use pixel for line-height */
    /* line-height:2.3 ; */
    /* line-height: 2;
    text-indent:50px;*/
 } 

.main_div{
    background-color: yellowgreen;
    padding: 10px;
    border:2px solid black;
    display: flex;
    /* flex-wrap: wrap; */


}
.child_div1{
    border:2px solid navy;
    margin: 10px;
    padding:20px;
    font-size: 20px;
    height:100px;  
} 

.image_task{
    border:2px solid red;
    padding:10px;
    margin: 30px;
   display: flex;
}
img{
    height: 100px;
    width: 100px; 
    margin: 10px;
}

.main_div2{
    background-color: yellow;
    border:2px solid red;
    padding: 20px;
    display: flex;
    /* justify-content: flex-start; */
    /* justify-content: flex-end; */
    /* justify-content: center; */
    /* justify-content: space-between; */
        /* justify-content: space-around; */
        
    /* justify-content: space-evenly; */
}
.child{
    background-color: pink;
    border:2px solid navy;
    margin:10px;
    padding:10px;
    font-size:20px;
    width: 150px;
}



































